/* CSS for Twitter Block */
.block-twitter-trends h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.twitter-trends-wrapper {
  color: #657786;
  font-size: 12px;
}
.twitter-trends-wrapper ul {
  height: 300px;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  margin-top: -4px;
  color: #14171a;
}

.twitter-trends-wrapper li {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.twitter-trends-wrapper li a {
  color: #0084b4;
  font-weight: bold;
}

.twitter-trends-wrapper li a:hover {
  color: #0071b3;
}

.tweet-volume {
  color: #657786;
  font-size: 12px;
  line-height: 16px;
}

.twitter-trends-wrapper .empty-text {
  font-size: 14px;
}
